/JackBoxAutoVIP/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/JackBoxAutoVIP/obj/Debug/net8.0/apphost.exe
/.idea/.idea.JackBoxRoomCodeExtractor/.idea/encodings.xml
/.idea/.idea.JackBoxRoomCodeExtractor/.idea/indexLayout.xml
/JackBoxAutoVIP/obj/Debug/net8.0/JackBoxAutoVIP.AssemblyInfo.cs
/JackBoxAutoVIP/obj/Debug/net8.0/JackBoxAutoVIP.AssemblyInfoInputs.cache
/JackBoxAutoVIP/obj/Debug/net8.0/JackBoxAutoVIP.assets.cache
/JackBoxAutoVIP/obj/JackBoxAutoVIP.csproj.nuget.dgspec.json
/JackBoxAutoVIP/obj/JackBoxAutoVIP.csproj.nuget.g.props
/JackBoxAutoVIP/obj/JackBoxAutoVIP.csproj.nuget.g.targets
/JackBoxAutoVIP/obj/Debug/net8.0/JackBoxAutoVIP.GeneratedMSBuildEditorConfig.editorconfig
/JackBoxAutoVIP/obj/Debug/net8.0/JackBoxAutoVIP.GlobalUsings.g.cs
/JackBoxAutoVIP/obj/Debug/net8.0/JackBoxRoomCodeExtractor.AssemblyInfo.cs
/JackBoxAutoVIP/obj/Debug/net8.0/JackBoxRoomCodeExtractor.AssemblyInfoInputs.cache
/JackBoxAutoVIP/obj/Debug/net8.0/JackBoxRoomCodeExtractor.assets.cache
/JackBoxAutoVIP/obj/Debug/net8.0/JackBoxRoomCodeExtractor.csproj.CoreCompileInputs.cache
/JackBoxAutoVIP/obj/Debug/net8.0/JackBoxRoomCodeExtractor.csproj.FileListAbsolute.txt
/JackBoxAutoVIP/obj/JackBoxRoomCodeExtractor.csproj.nuget.dgspec.json
/JackBoxAutoVIP/obj/JackBoxRoomCodeExtractor.csproj.nuget.g.props
/JackBoxAutoVIP/obj/JackBoxRoomCodeExtractor.csproj.nuget.g.targets
/JackBoxAutoVIP/bin/Debug/net8.0/JackBoxRoomCodeExtractor.deps.json
/JackBoxAutoVIP/obj/Debug/net8.0/ref/JackBoxRoomCodeExtractor.dll
/JackBoxAutoVIP/obj/Debug/net8.0/refint/JackBoxRoomCodeExtractor.dll
/JackBoxAutoVIP/obj/Debug/net8.0/JackBoxRoomCodeExtractor.dll
/JackBoxAutoVIP/bin/Debug/net8.0/JackBoxRoomCodeExtractor.exe
/JackBoxAutoVIP/obj/Debug/net8.0/JackBoxRoomCodeExtractor.GeneratedMSBuildEditorConfig.editorconfig
/JackBoxAutoVIP/obj/Debug/net8.0/JackBoxRoomCodeExtractor.genruntimeconfig.cache
/JackBoxAutoVIP/obj/Debug/net8.0/JackBoxRoomCodeExtractor.GlobalUsings.g.cs
/JackBoxAutoVIP/obj/Debug/net8.0/JackBoxRoomCodeExtractor.pdb
/JackBoxAutoVIP/bin/Debug/net8.0/JackBoxRoomCodeExtractor.runtimeconfig.json
/JackBoxAutoVIP/obj/project.assets.json
/JackBoxAutoVIP/obj/project.nuget.cache
/JackBoxAutoVIP/obj/project.packagespec.json
/JackBoxAutoVIP/obj/rider.project.model.nuget.info
/JackBoxAutoVIP/obj/rider.project.restore.info
/.idea/.idea.JackBoxRoomCodeExtractor/.idea/vcs.xml
